.flex {
    display: flex;
    gap: 20px;
}

.container {
    margin: 50px;
}

.active {
    font-weight: 700;
}

.loading {
    margin-top: 20px;
    font-size: 24px;
}

.date_red {
    margin-top: 5px;
    color: red;
}
