.flex {
    display: flex;
    gap: 20px;
}

.container {
    margin: 50px;
}

.active {
    font-weight: 700;
}

.loading {
    margin-top: 20px;
    font-size: 24px;
}

.date_red {
    margin-top: 5px;
    color: red;
}

.about__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.about__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
}
